* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   font-family: 'Inter', sans-serif;
}
header {
   background-color: #1ABC9C;
   padding: 15px 0;
}
.wrapper {
   width: 90%;
   margin: auto;
}
.header-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav-link {
   font-size: 24px;
   color: black;
   text-decoration: none;
   margin-right: 20px;
}
.social-icon:not(:last-child) {
   margin-right:  20px;
}
.about {
   display: flex;
   align-items: center;
}
.about-img {
   width: 50%;
}
.about-info {
   width: 50%;
}
h1 {
   font-size: 35px;
   font-weight: 400;
   text-align: center;
   margin-bottom: 35px;
}
.about-descr {
   padding: 0 65px;
   font-size: 20px;
   text-align: justify;
}
.projects {
   padding: 125px 0;
   background-color: #DCFFEB;
}
.projects-title {
   font-size: 35px;
   font-weight: 400;
   margin-bottom: 50px;
}
.projects-list {
   display: flex;
   gap: 40px;
}
.project {
   background-image: url(../img/img6.png);
   width: 33%;
   aspect-ratio: 436/376;
   background-size: 100%;
   display: flex;
   align-items: flex-end
}
.project-hover {
   background:rgba(0, 0, 0, 0.38); ;
   color: white;
   padding: 30px 35px 15px;
   opacity: 0;
}
.project:hover .project-hover {
   opacity: 1;
}
.project-hover-title {
   font-size: 24px;
}
footer {
   padding: 80px 0;

}
.footer-title {
   font-size: 35px;
   font-weight: 400;
   margin-bottom: 55px;
}
.footer-list {
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   gap: 40px;
}
.footer-img {
   display: block;
   margin: auto;
}
.footer-item-title {
   font-size: 24px;
   margin: 10px 0 25px;
   text-align: center;
   color: #999999;
}
.footer-text {
   font-size: 24px;
   text-align: center;
}
a {
   font-size: 24px;
   text-align: center;
   text-decoration: none;
}
.footer-item {
   width: 25%;
}
.e-mail {
   display: block;
   color: #F7654A;
}
.tel {
   display: block;
   color: black;
} 
