/*
 ctrl + /  -открыть комментарий 
 */
 h1 {
    color: #299e22;
    font-size: 40px;
    text-align: center;
 }
 .post-1 {
    width: 70%;
    margin: auto;
    background-color: rosybrown;
    padding: 10PX;
 }
 .post-2 {
    background-color: blueviolet;
 }
 h3 {
    font-size: 28px;
    text-align: center;
 }
a,p {
    font-size: 24px;
    text-align: center;
}
a {
    display: block;
}
img {
    display: block;
    margin: auto;
    width: 50%;
}
.title-1 {
color: red;
}
.title-2 {
color: blue;
}

